body { background-image: url("img/bakgrund.jpg"); color:#FFFFFF;}

.site-container {display: flex;
				justify-content: center;
				font-size: 18px;}
				
.content {width:60%; height;100%;}

.header {padding: 30px;
		text-align: center;}
	
#search {padding: 30px; text-align: center;}
 
#searchInput {background: url("img/search.png");
			background-image: url("img/search.svg");
			background-padding-left:3%;
			background-repeat: no-repeat;
			background-position: left 5% top 40%;
			padding-left: 8%;
			background-color: #b2bcc4;
			width: 50%;
			height:40px;
			border-radius: 5px;
			color:#FFFFFF;}
 input::placeholder {color: #FFFFFF; font-size: 18px;}
 #result{ width: 50%; padding: 2% 2%;}
 
 @media (max-width: 1920px) {
    .content { width: 50%;}
	.container{ width:100%;}
}
@media (max-width: 600px) {
    .content { width: 90%;}
	.container{ width:100%;}
}

